/* ----General---- */
* {
  font-family: 'Oswald', sans-serif;
}

.logo {
  font-family: 'Mr Dafoe', sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 89%;
}

.navbar-destetik {
  border: #fff 1px solid;
  padding: 0px 4px !important;
}

/* ----Profile View---- */
.profile-row {
  justify-content: center;
}

.profile-image {
  border-radius: 30px;
  width: 96px;
  height: 96px;
}

/* ----Profile Edit---- */

/* --Add Service-- */

.delete-icon {
  color: #cc2c2c;
}

.delete-icon:hover {
  cursor: pointer;
  color: #b12626;
}

/* ----Auth Background---- */

.background-auth {
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  background-color: rgba(255, 224, 224, 0.712);
}

.dropdown-menu-div:hover {
  cursor: pointer;
}

.Side-menu-default {
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
